*.db
*.py[cod]
.env
.web
__pycache__/
assets/external/
.langgraph_api/.langgraph_checkpoint.1.pckl
.langgraph_api/.langgraph_checkpoint.2.pckl
.langgraph_api/.langgraph_ops.pckl
.langgraph_api/.langgraph_retry_counter.pckl
.langgraph_api/store.pckl
.langgraph_api/store.vectors.pckl
